development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: ajax-template_development
  pool:     5
  username: postgres
  password: postgres
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: ajax-template_test
  pool:     5
  username: postgres
  password: postgres
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: ajax-template_production
  pool:     50
  username: postgres
  password: postgres
  template: template0
